---
layout: default
---
<article class="post">

  <h3><a href="{{ site.url }}{{ page.url }}" rel="bookmark permalink" title="Permanent link to this post">{{ page.title }}</a></h3>

  {{ content }}

<a class="follow-box" href="https://twitter.com/marsbomber">
  <h3>Follow <strong>@marsbomber</strong> on Twitter</h3>
</a>

  <div class="meta">
   <div class="published">
    Published: {{ page.date | date: "%Y-%m-%d" }}
   </div>
   <div class="tweet"><a href="http://twitter.com/?status=Reading '{{ page.title }}' from http://marsbomber.github.com{{ page.url }} by @marsbomber" title="Tweet {{ page.title }}">Tweet</a> &amp; <a class="permalink" href="{{ site.url }}{{ page.url }}" rel="bookmark permalink" title="Permalink for {{ page.title }}">Permalink</a>
	</div>
  </div>

</article>